<h1>Answer</h1>

<input
    [(ngModel)]="username"
    (input)="onUpdateUsername($event)">

<p>Hello {{ username }}, how are you today?</p>

<button
    [disabled]="!isButtonEnabled"
    (click)="onButtonClick()">
    {{ buttonLabel }}
</button>